@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

/* Global */

* {
	box-sizing: border-box;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

body {
	font-family: "Raleway", sans-serif;
}

/* Tools */

.tools {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.tools__title {
	font-size: 1.25rem;
}

.tools__complement {
	margin-top: 0.5rem;
	font-size: 0.875rem;
}

/* Research tool */

.researchTool {
	margin-top: 1rem;
	display: flex;
	height: 45px;
	position: relative;
}

.researchTool__icon {
	display: flex;
	align-items: center;
	background-color: #f2f2f2;
	border-radius: 1rem 0 0 1rem;
	padding: 0 1rem;
}

.researchTool__input {
	width: 325px;
	padding: 0 1rem;
	font-size: 1rem;
	font-weight: 700;
	border: 1px solid #f2f2f2;
	border-radius: 0 1rem 1rem 0;
}

.researchTool__input:focus {
	background-color: #deebff;
}

.researchTool__submit {
	padding: 0 1rem;
	font-size: 1rem;
	border: none;
	border-radius: 1rem;
	background-color: #0065fc;
	color: #fff;
	position: absolute;
	height: 100%;
	right: 0;
}

.researchTool__submit:hover {
	cursor: pointer;
	box-shadow: 0 0 0.25rem #0065fc;
}

.researchTool__submit--desktop {
	border-radius: 0 1rem 1rem 0;
}

.researchTool__submit--mobile {
	display: none;
}

/* Filter tool */

.filterTool {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.filterTool__title {
	margin-right: 1rem;
	font-size: 1rem;
}

.filters {
	display: flex;
	font-weight: 700;
	flex-wrap: wrap;
}

.filter {
	height: 2.5rem;
	margin: 0.5rem 1rem 0.5rem 0;
	border-radius: 1.25rem;
	position: relative;
}

.filter:hover {
	cursor: pointer;
	background-color: #f2f2f2;
}

.filter__icon {
	height: 100%;
	width: 2.5rem;
	background-color: #deebff;
	color: #0065fc;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: inherit;
	position: absolute;
}

.filter__content {
	height: 100%;
	border: 2px solid #d9d9d9;
	border-radius: inherit;
	display: flex;
	align-items: center;
	padding: 0 1rem 0 3rem;
}

/* Lodgings information */

.lodgingsInfo {
	margin-top: 1rem;
	display: flex;
}

.lodgingsInfo__icon {
	min-width: 1.5rem;
	height: 1.5rem;
	color: #0065fc;
	font-size: 0.75rem;
	border: 1px solid #d9d9d9;
	border-radius: 0.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 0.5rem;
}

.lodgingsInfo__content {
	padding-top: 0.25rem;
	font-size: 0.875rem;
}

/* Footer */

.footer {
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-between;
	padding: 2rem;
}

.footerInfo {
	flex: 1;
}

.footerInfo__title {
	font-size: 1rem;
}

.footerInfo ul {
	list-style: none;
	padding: 0;
	margin-top: 1rem;
}

.footerInfo__link {
	margin-top: 0.5rem;
	font-size: 0.875rem;
}

.footerInfo__link a {
	text-decoration: none;
	color: #000;
}

.footerInfo__link a:hover {
	color: #0065fc;
}

/* Responsive */

/* Mobile */

@media screen and (max-width: 600px) {
	/* Tools */

	.tools {
		padding: 1rem;
	}

	/* Research tool */

	.researchTool__input {
		width: unset;
	}

	.researchTool__submit--desktop {
		display: none;
	}

	.researchTool__submit--mobile {
		display: unset;
	}

	/* Filter tool */

	.filter:hover {
		background-color: unset;
	}

	.filter:active {
		background-color: #f2f2f2;
	}

	.filter__content {
		font-size: 0.875rem;
		padding: 0 0.75rem 0 2.75rem;
	}

	/* Footer */

	.footer {
		flex-direction: column;
		padding: 1rem;
	}

	.footerInfo {
		margin: 0.75rem 0;
	}
}
