@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

/* Global */

* {
	box-sizing: border-box;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

body {
	font-family: "Raleway", sans-serif;
}

a {
	text-decoration: none;
	color: unset;
}

img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

h1 {
	font-size: 1.125rem;
}

h2 {
	font-size: 1rem;
}

h3 {
	font-size: 0.875rem;
}

/* Header */

.header {
	padding: 0 2rem;
	display: flex;
	align-items: flex-end;
	gap: 1rem;
	flex-wrap: wrap;
}

.header__logo {
	height: 2.5rem;
}

/* Navigation */

.nav {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.nav__link {
	padding: 3rem 1rem 0 1rem;
	font-size: 0.875rem;
}

.nav__link--active {
	color: #0065fc;
	border-top: 2px solid #0065fc;
}

/* Tools */

.tools {
	padding: 0 2rem;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.tools__complement {
	margin-top: 0.5rem;
	font-size: 0.75rem;
}

/* Research tool */

.researchTool {
	margin-top: 1rem;
	display: flex;
	height: 2.75rem;
	position: relative;
}

.researchTool__icon {
	display: flex;
	align-items: center;
	background-color: #f2f2f2;
	border-radius: 1rem 0 0 1rem;
	padding: 0 1rem;
}

.researchTool__input {
	width: 18rem;
	padding: 0 7.5rem 0 1rem;
	font-size: 0.875rem;
	font-weight: 700;
	border: 1px solid #f2f2f2;
	border-radius: 0 1rem 1rem 0;
}

.researchTool__input:focus {
	background-color: #deebff;
}

.researchTool__submit {
	padding: 0 1rem;
	font-size: 0.875rem;
	border: none;
	border-radius: 1rem;
	background-color: #0065fc;
	color: #fff;
	position: absolute;
	height: 100%;
	right: 0;
}

.researchTool__submit:hover {
	cursor: pointer;
	box-shadow: 0 0 4px #0065fc;
}

.researchTool__submit--desktop {
	border-radius: 0 1rem 1rem 0;
}

.researchTool__submit--mobile {
	display: none;
}

/* Filter tool */

.filterTool {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem 1rem;
}

.filters {
	display: flex;
	font-weight: 700;
	flex-wrap: wrap;
	gap: 1rem;
}

.filter {
	height: 2.25rem;
	border-radius: 1.125rem;
	position: relative;
}

.filter:hover {
	cursor: pointer;
	background-color: #f2f2f2;
}

.filter__icon {
	height: 100%;
	width: 2.25rem;
	background-color: #deebff;
	color: #0065fc;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: inherit;
	position: absolute;
}

.filter__content {
	font-size: 0.875rem;
	height: 100%;
	border: 2px solid #d9d9d9;
	border-radius: inherit;
	display: flex;
	align-items: center;
	padding: 0 1rem 0 2.75rem;
}

/* Lodgings information */

.lodgingsInfo {
	margin-top: 1rem;
	display: flex;
}

.lodgingsInfo__icon {
	min-width: 1rem;
	height: 1rem;
	color: #0065fc;
	font-size: 0.5rem;
	border: 1px solid #d9d9d9;
	border-radius: 0.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 0.375rem;
}

.lodgingsInfo__content {
	padding-top: 0.125rem;
	font-size: 0.75rem;
}

/* Lodgings */

.lodgings {
	padding: 0 2rem;
	padding-top: 1.5rem;
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap-reverse;
	align-items: flex-end;
	gap: 1.5rem;
}

.lodging {
	background-color: #f2f2f2;
	padding: 2rem;
	border-radius: 1rem;
	flex: 5;
}

.lodging--popular {
	flex: 2;
}

.lodging__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Lodging cards */

.lodgingCards {
	margin-top: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem 1rem;
}

.lodgingCards > * {
	border-radius: 1.25rem;
	flex: 1;
}

/* Lodging card */

.lodgingCard {
	background-color: #fff;
	border: 5px solid #fff;
	border-radius: inherit;
	box-shadow: 0 0 5px #d9d9d9;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-width: 14rem;
	height: 11rem;
}

.lodgingCard:hover {
	background-color: #deebff;
	border-color: #deebff;
	box-shadow: 0 0 3px #0065fc;
}

.lodgingCard--popular {
	flex-direction: row;
	min-width: 17.5rem;
	height: 7.5rem;
}

/* Lodging card image */

.lodgingCard__image {
	overflow: hidden;
}

.lodgingCard__image--popular {
	flex: 2;
}

/* Lodging card content */

.lodgingCard > .content {
	margin: 0.5rem;
	margin-left: 0.75rem;
	position: relative;
}

.lodgingCard--popular > .content {
	flex: 3;
}

.lodgingCard__description {
	margin-top: 0.375rem;
	font-size: 0.75rem;
}

.lodgingCard__description .lowPrice {
	font-weight: bold;
}

.lodgingCard__rate {
	margin-top: 0.5rem;
	display: flex;
	font-size: 0.75rem;
	color: #0065fc;
}

.lodgingCard__rate > .empty {
	color: #d9d9d9;
}

.lodgingCard__rate--popular {
	position: absolute;
	bottom: 0;
}

/* Button */

.btn {
	border: none;
	background-color: unset;
	padding: 0;
	font-size: 0.875rem;
	font-weight: 700;
}

.btn:hover {
	cursor: pointer;
	color: #0065fc;
}

.btn--blue {
	color: #0065fc;
}

.btn--blue:hover {
	color: #000;
}

.lodging .btn {
	margin-top: 2rem;
}

/* Activity */

.activity {
	padding: 0 2rem;
	padding-top: 1.5rem;
	margin-top: 1rem;
}

.activityCards {
	margin-top: 1rem;
	height: 26rem;
	display: flex;
	flex-flow: column wrap;
	align-content: space-between;
	gap: 2rem 0;
}

.activityCards > * {
	min-height: 11rem;
	width: 23%;
	flex: 100%;
	border-radius: 1.25rem;
}

.activityCards > *:nth-of-type(2) {
	flex: 3;
}

.activityCards > *:nth-of-type(3) {
	flex: 2;
}

.activityCards > *:nth-of-type(5),
.activityCards > *:nth-of-type(6) {
	flex: 1;
}

.activityCard {
	height: 100%;
	border-radius: inherit;
	box-shadow: 0 5px 10px #d9d9d9;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.activityCard:hover {
	background-color: #deebff;
	box-shadow: 0 0 3px #0065fc;
}

.activityCard__image {
	overflow: hidden;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.activityCard__title {
	margin: 1rem;
}

/* Footer */

.footer {
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-between;
	padding: 2rem;
	margin-top: 2rem;
}

.footer > * {
	flex: 1;
}

.footerInfo ul {
	list-style: none;
	padding: 0;
	margin-top: 1rem;
}

.footerInfo__link {
	margin-top: 0.5rem;
	font-size: 0.75rem;
}

.footerInfo__link a:hover {
	color: #0065fc;
}

/* Responsive */

@media screen and (max-width: 1200px) {
	.lodging {
		flex: 2;
	}

	.lodging--popular {
		flex: 1;
	}
}

@media screen and (max-width: 960px) {
	/* Lodgings */

	.lodging {
		padding: 1.25rem;
		flex: 1;
	}

	.lodgingCards {
		gap: 0.75rem;
		margin-top: 1rem;
	}

	/* Activity */

	.activityCards > * {
		flex: 0%;
		width: 31%;
	}
}

@media screen and (max-width: 720px) {
	/* Activity */

	.activityCards {
		height: 45rem;
	}

	.activityCards > * {
		width: 48%;
	}

	.activityCards > *:nth-of-type(2),
	.activityCards > *:nth-of-type(3) {
		flex: 1;
	}
}

@media screen and (max-width: 480px) {
	/* Header */

	.header {
		align-items: center;
		justify-content: space-between;
		padding: 0;
		margin-top: 1.5rem;
	}

	.header__logo {
		margin-left: 1rem;
	}

	.header .btn {
		margin-right: 1rem;
	}

	/* Navigation */

	.nav {
		order: 1;
		flex: 100%;
		text-align: center;
		align-items: flex-start;
	}

	.nav__link {
		flex: 1;
		padding-top: unset;
		padding-bottom: 0.5rem;
		border-bottom: 2px solid #f2f2f2;
	}

	.nav__link--active {
		border-top: unset;
		border-bottom-color: #0065fc;
	}

	/* Tools */

	.tools {
		padding: 0 1rem;
	}

	/* Research tool */

	.researchTool {
		width: 100%;
	}

	.researchTool__input {
		width: 100%;
		padding-right: 3.75rem;
	}

	.researchTool__submit--desktop {
		display: none;
	}

	.researchTool__submit--mobile {
		display: unset;
	}

	/* Lodgings */

	.lodgings {
		margin-top: 2rem;
		padding: 0;
		flex-direction: column-reverse;
		flex-wrap: unset;
		align-items: unset;
	}

	.lodging {
		border-radius: unset;
	}

	.lodging--local {
		padding: 0 1rem;
		background-color: unset;
	}

	.lodging--popular {
		padding: 1.5rem 1rem;
	}

	.lodgingCards > * {
		width: 100%;
		flex: unset;
	}

	.lodgingCard {
		min-width: unset;
	}

	/* Activity */

	.activity {
		padding: 0 1rem;
		padding-top: 1.5rem;
	}

	.activityCards {
		height: unset;
	}

	.activityCards > * {
		width: unset;
		min-height: unset;
	}

	.activityCard {
		max-height: 11rem;
	}

	/* Footer */

	.footer {
		flex-direction: column;
		gap: 1.5rem;
		padding: 2rem 1rem;
	}
}
